<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="TestSuite" parallel="false" thread-count="3">
<listeners>
        <listener class-name="Utilities.TestListener" /> 
    </listeners>   
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <parameter name="headless" value="false" />
        <classes>

               
             <class name="Tests.GraphTest" />
                <class name="Tests.ArrayTest" />
           <class name="Tests.HomeTest" />
            <class name="Tests.LoginTest" />
            <class name="Tests.RegisterTest" />
            <class name="Tests.LinkedListTest" />
            <class name="Tests.DataStructureTest" />
            <class name="Tests.QueueTest" />
            <class name="Tests.StackTest" />
            <class name="Tests.TreeTest" />
        </classes>
    </test>
    
<!--    <test name="FirefoxTest">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <parameter name="headless" value="false" />-->
<!--        <classes>-->
<!--            <class name="Tests.LoginTest" />-->
<!--            <class name="Tests.RegisterTest" />-->
<!--            <class name="Tests.LinkedListTest" />-->
<!--            <class name="Tests.DataStructureTest" />-->
<!--            <class name="Tests.QueueTest" />-->
<!--            <class name="Tests.StackTest" />-->
<!--        </classes>-->
<!--    </test>-->
    
<!--    <test name="EdgeTest">-->
<!--        <parameter name="browser" value="edge" />-->
<!--        <parameter name="headless" value="false" />-->
<!--        <classes>-->
<!--            <class name="Tests.LoginTest" />-->
<!--            <class name="Tests.RegisterTest" />-->
<!--            <class name="Tests.LinkedListTest" />-->
<!--            <class name="Tests.DataStructureTest" />-->
<!--            <class name="Tests.QueueTest" />-->
<!--            <class name="Tests.StackTest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>

